<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" href="/static/favicon.ico" mce_href="/static/favicon.ico" type="image/x-icon">
	<link rel="manifest" href="/static/manifest.json">
	<meta name="viewport" content="width=device-width,user-scalable=no" >
	<title><%= htmlWebpackPlugin.options.title %></title>
	<style>
		html,body{padding:0; margin:0;height: 100%}
		#root{
			z-index: 0;
			height: auto;
		}
		html {
		  font-size: 100%; /* 62.5% of 16px = 10px */
		}
	</style>
</head>
<body>
	<div id="root"></div>
</body>
<script>window.main();</script>
</html>